.ingredients {
    background-image: url("../img/ingredients/faq_bg.jpg");
    background-position: center;
    grid-column: container-start / container-end;

    display: grid;
    grid-template-columns: 1fr repeat(2, 64rem) 1fr;
    grid-row: min-content 1fr;
   

    @extend %sec-pad110;
    &__header {
        grid-row: 1 / 2;
        grid-column: 2 / -2;
        @extend %sec-header;
        @extend %para-lite;
        text-align: center;

        p {
            @extend %para-lite;
            text-align: center;
        }
    }

    &__img {
        grid-row: 2 / 3;
        grid-column: 2 / 3;

        width: 100%;
        padding: 0 1rem;
    }

    &__info {
        grid-row: 2 / 3;
        grid-column: 3 / 4;

        padding-left: 3rem;

        // display: flex;
        // flex-direction: column;

        &--card {
            background-color: var(--color-main);
            margin-bottom: 1rem;
            padding: 2.2rem 2.5rem;

            &__header {
                padding-right: 5rem;

                
                a:link,
                a:visited,
                a:hover,
                a:active {
                        // @extend %sec-h5;
                        font-size: font-size(font-size-regular); 
                        color: var(--color-secondary);
                        font-weight: font-weight(font-semi-bold);
                }

                a.activelink {
                    display: block;
                    color: var(--color-accent);
                    padding-bottom: 1.5rem; 
                    border-bottom: 1px dashed var(--color-line);
                    width: 100%;
                }

            }
            p {

                @extend %para-small;
            }

            &__para {
                display: none;
                margin-top: 2rem;
             
            }

            p.activelink {
                display: block;
            }
        }
    }
}

@include media-desktop {
    .ingredients  {
        width: 96rem;
        margin: 0 auto;
        grid-template-columns: 1fr repeat(2, 48rem) 1fr;
        padding-left: 1rem;
        padding-right: 1rem;

        &__img {
            padding: 0 1.5rem;
        }
        &__info {
            padding: 0 1.5rem;
        }
    }
}

// - - - - The 992px  - - - 

@include media-tablet {
    .ingredients  {
        width: 72rem;
        margin: 0 auto;
        grid-template-columns: 1fr minmax(min-content, 72rem) 1fr;
        grid-template-rows: min-content 1fr 1fr;

        &__img {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            
            width: 61.9rem;
            margin: 0 auto;
            
        }

        &__info {
            grid-row: 3 / 4;
            grid-column: 2 / 3;
        }

    }
}

// - - - -  The 768px  - - - -
@include media-medium {
    .ingredients {
        max-width: 54rem;
        width: 100%;
        &__header {
            width: 51rem !important;

            h2 {
                font-size: 3.2rem ;
            }
        }
        &__img {
            width: 51rem;
        }
    }
}