.facts {
    background-color: var(--color-video-bg);
    grid-column: container-start / container-end;
   
    @extend %sec-pad110;
    @extend %sec-flex;
    
    &__content {
        display: grid;
        grid-template-columns: repeat(4, minmax(min-content, 32rem));

        &--fact {
            @extend %sec-flex;
            align-items: center;
            padding: 0 1.5rem;
            margin-bottom: 5rem;

            &__icon {
                margin-right: 3rem;

                img {
                    max-width: 100%;
                }
            }

            &__info {
                letter-spacing: 1;
                line-height: 1.2;
                
                span {
                    color: var(--color-accent);
                    font-size: font-size(font-size-xxlarge);
                    font-weight: font-weight(font-weight-medium-plus);
                    // margin-bottom: 1rem;
                }
                p {
                    color: var(--color-main);
                    text-transform: uppercase;
                    font-size: font-size(font-size-little);
                    font-weight: font-weight(font-semi-bold);
                }

            }

        }
    }
        
}

// - - - - The 992px  - - - 

@include media-tablet {
    .facts {
    
        &__content {
            max-width: 72rem;
            width: 100%;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}
// - - - -  The 576px  - - - -
@include media-small {
    .facts {
    
        &__content {
            max-width: 51rem;
            width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
        }
    }
}