.packeges {
    grid-column: center-start / center-end;
    
    @extend %sec-pad110;
    
    &__header {
        @extend %sec-header;
        p {
            @extend %para-lite;
            text-align: center;
        }
    }

    &__content {
        @extend %sec-flex;
        align-items: flex-start;
        flex-wrap: wrap;

        &--pricing {
            align-self: stretch;
            max-width: 38rem;
            width: 35rem;
            margin: 0 1.5rem 3rem;
            padding: 5rem 3rem;
            text-align: center;

            box-shadow: 0rem 0rem 4.6rem 0rem var( --color-shadow);
            border-radius: 0.8rem;
            border-top: 0.7rem solid var(--color-border);
            border-bottom: 0.7rem solid var(--color-border);
            
            transition: .4s linear;

            img {
                width: 6.38rem;
                margin-bottom: 2rem;
            }

            h5 {
                font-size: font-size(font-size-large);
                margin-bottom: 1.5rem;
            }

            span, p {
                font-size: font-size(font-size-little);
                font-weight: font-weight(font-weight-medium);
                line-height: 1.1;
            }

            span {
                text-transform: uppercase;
                display: block;
                color: #9098a9;
                margin-bottom: 2.5rem;
            }

            p {
                margin-bottom: 1.5rem;
                color: #717f99;
            }

            h4 {
                font-size: font-size(font-size-regular);
                font-weight: font-weight(font-semi-bold);
                box-shadow: 0 0 2.7rem 0 var( --color-shadow);
                padding: 1.8rem 1rem;
                border-radius: 5rem;
                margin: 0 1rem 3rem;
                color: #444172;
            }

            ul {
                margin-bottom: 3rem;

                li {
                    padding-bottom: 12px;
                    border-bottom: 1px solid #f1f1f1;
                    margin-bottom: 12px;
                    font-size: 14px;
                    font-weight: 500;
                    color: #717f99;
                }
            }

            a.btn-buy:link,
            a.btn-buy:visited {
                display: inline-block;
                background-color: var( --color-secondary);
                border-radius: 5rem;
                padding: 1rem 3rem;
                height: min-content;
                border: none;
                color: var(--color-main);
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1;
                text-align: center;
                text-transform: capitalize;

                transition: all 0.4s ease-in-out;

                i.fa-shopping-cart {
                    color: var(--color-main);
                    margin-left: 1rem;
                    padding: 1rem;
                    background-color: #574d61;
                    border-radius: 50%;
                    transition: all 0.4s ease-in-out
   }
}
            
        }

        &--pricing:hover {
            border-top: 0.7rem solid var(--color-accent);
            border-bottom: 0.7rem solid var(--color-accent);


            a.btn-buy {
                background-color: var(--color-accent);
                color: var(--color-main);

                i.fa-shopping-cart {
                    background-color: #0b9214;
                }
            }       
        }
    }
}