.doctors {
    background-image: linear-gradient(var(--color-video-bg), var(--color-video-bg)),
                      url("../img/doctors/doctors_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: container-start / container-end;

    @extend %sec-pad110;
   @extend %grid-3col;

    &__header {
        grid-column: 2 / 3;
        @extend %sec-header;
        padding-bottom: 5rem;       

        h2 {
            color: var(--color-main);
        }

        p {
            @extend  %para-dark;
            text-align: center;
        }
    }

    &__content {
        grid-column: 2 / 3;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 3.5rem;

        padding: 0 1.5rem;
        
        &--doctor {
            display: flex;
            margin-bottom: 5.5rem;

            &__foto {
                margin-right: 2.5rem;
                width: 9.1rem;
                height: 9.1rem;
                border-radius: 50%;
                border: 0.3rem solid var(--color-main);
                
            }

            &__info {
                font-size: font-size(font-size-little);
                color: var(--color-text-lite);

                h6 {
                    @extend %sec-h6;
                    font-size: font-size(font-size-large);
                    font-weight: font-weight(font-weight-medium);
                }

                p {
                    margin-bottom: 1.5rem;
                }

                span {
                    color: var(--color-accent);
                    font-weight: font-weight(font-semi-bold);
                    letter-spacing: 1.2;
                    font-style: italic;
                }
            }
        }
        
    }
}

// - - - - The 1200px Desktop - - - 

@include media-desktop {
    .doctors {
        &__content {
            max-width: 96rem;
            width: 100%;
            margin: 0 auto
        }
    }
}

// - - - - The 992px  - - - 

@include media-tablet {
    .doctors {
        &__header {
            max-width: 72rem;
            width: 100%;
            margin: 0 auto;
        }

        &__content {
            max-width: 72rem;
            width: 100%;
            margin: 0 auto;

            &--doctor {
                flex-direction: column;

                &__foto {
                    margin-bottom: 3rem;
                }
            }
            
        }
    }
}
// - - - -  The 768px  - - - -
@include media-medium {
    .doctors {
        &__header {
            max-width: 48rem !important;
            width: 100%;
            margin: 0 auto;
            h2 {
                font-size: 3.2rem;}
        }

        &__content {
            max-width: 51rem;
            width: 100%;
            margin: 0 auto;

            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            justify-content: center;
            text-align: center;

            &--doctor {
            &__foto {
                margin: 0 auto;
                
            }

            &__info {
                h6 {
                    margin-top: 2rem;
                }
            }
            }
        }
    }

}

// - - - -  The 576px  - - - -
// @include media-small {
//     .doctors {
//         &__header {
//         max-width: 49rem;
//         width: 100%;
//         margin: 0 auto;
//         }
//     }
// }
