.blog {
    background-color: #fafafa;
    grid-column: container-start / container-end;

    @extend %sec-pad110;
    @extend %grid-3col;

    &__header {
        grid-column: 2 / 3;
        @extend %sec-header;
        @extend %para-lite;
        text-align: center; 
    }

    &__content {
        grid-column: 2 / 3;

        @extend %sec-flex;
        align-items: flex-start;
        flex-wrap: wrap;
        
        
        &--item {
            background-color: var(--color-main);
            margin: 0 1.5rem 3rem;
            max-width: calc(130rem / 3 - 3rem);
            box-shadow: 0px 0px 10px 0px var(--color-shadow-too);

            img{
                width: 100%;
            }

            &__info {
                padding: 4rem 3rem 3.5rem;

                span {
                    color: var(--color-accent);
                    font-size: font-size(font-size-xtiny);
                    text-transform: uppercase;
                    font-weight: font-weight(font-weight-medium);
                }

                h3 {
                    margin-bottom: 1.5rem;
                    
                    a:link,
                    a:visited,
                    a:hover,
                    a:active {
                        font-size: font-size(font-size-xslarge);
                        font-weight: font-weight(font-weight-medium-plus);
                        line-height: 1.3rem;
                    }

                    a:link,
                    a:visited {
                        color: var(--color-secondary);
                    }

                    a:hover,
                    a:active {
                        color: var(--color-accent);
                    }

                }

                p {
                     @extend %para-lite;
                }

                a.read-me:link,
                a.read-me:visited,
                a.read-me:hover,
                a.read-me:active {
                    font-size: font-size(font-size-little);
                    font-weight: font-weight(font-weight-medium);
                    color: (--color-secondary);

                    i.fa-plus {
                        background-color: var(--color-accent);
                        display: inline-block;
                        height: 4rem;
                        width: 4rem;
                        line-height: 4rem;
                        text-align: center;
                        border-radius: 0.3rem;
                        box-shadow: 0px 0.4rem 1.209rem 0.09rem var(--color-accent-m);
                        margin-left: 0.8rem;
                        color: var(--color-main);
                        transition: .3s;
                    }
                }


            }
        }


    }
}