.partners {
    background-color: var(--color-main);
    grid-column: center-start / center-end;
   
    padding-top: 11rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: stretch;
    // margin: 0 auto;
   
    
    &__logotips {
        display: block;
        justify-self: center;
        // width: 20%;

    }
}

// - - - - The 1200px Desktop - - - 

@include media-desktop {
    .partners {
        grid-template-columns: repeat(4, 1fr);

        &__logotips:last-child {
            display: none;
        }
    }
}

// - - - - The 992px  - - - 

@include media-tablet {
    .partners {
    grid-template-columns: repeat(3, 1fr);

        &__logotips:first-child {
            display: none;
        }
    }
}

// - - - -  The 768px  - - - -
@include media-medium {
    .partners {
        grid-template-columns: repeat(2, 1fr);
    
            &__logotips:nth-child(3) {
                display: none;
            }
        }
}

// - - - -  The 576px  - - - -
@include media-small {
    .partners {
        grid-template-columns: 1fr;
    
            &__logotips:nth-child(2) {
                display: none;
            }
        }
}