.subscription {
    grid-column: center-start / center-end;
    background-image: url(../img/showcase/newsletter_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // box-shadow: 0px 2px 12.09px 0.91px rgb(68 68 68 / 24%);
    border: 0.8rem solid var(--color-accent);

    padding: 4rem 5rem;
    z-index: 1;

    position: relative;
    top: 50%;
    left: 0;

    display: flex;
    justify-content: space-between;

    &__content{
       
        h4 {
            margin-bottom: 1rem;
        }
        
        span {
            color: var( --color-subscription);
            font-size: font-size(font-size-regular);
            font-weight: font-weight(font-weight-medium);
            font-style: italic;
        }

    }
    &__form {
        
      input{
        border: none;
        padding: 1.5rem 2.5rem;
        background: var(--color-input-1);
        font-size: font-size(font-size-little);
        margin-right: -0.3rem;
        width: 46.5rem;
        line-height: 2.6rem;
        letter-spacing: 1.5;
        }
        

        button.btn{
             font-size: font-size(font-size-no-large);
             font-style: italic;
             text-transform: capitalize;
             padding: 1.7rem 2.8rem;
             border-radius: 0;
            
        }
    }
}

// - - - - The 1200px Desktop - - - 

@include media-desktop {
    .subscription {
        max-width: 96rem;
        width: 100%;
    }
}

// - - - -  The 1024px  - - - -
@include media-desktop-mini {
    .subscription {
        max-width: 93rem;
        width: 100%;

        &__content {
            width: 40%;
            h4 {font-size: 2.4rem;}
        }
    }
}

// - - - - The 992px  - - - 

@include media-tablet{
    .subscription {
        margin: 0 auto;
        max-width: 72rem;
        width: 100%;
    }
}

// - - - -  The 768px  - - - -
@include media-medium {
    .subscription {
        max-width: 51rem;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        &__content {
            width: 90%;
        }

        &__form {
            // margin: 0 auto;
            input {
                width: 100%;
                margin-bottom: 1rem;
            }
        }
    }
}

// - - - -  The 576px  - - - -
@include media-small {
    .subscription  {
        max-width: 49rem;
        width: 100%;
        margin: 0 auto;
    }
}