.footer {
    background-image: url("../img/footer/footer_bg.jpg");
    grid-column: container-start / container-end;

    padding: 20rem 0 1rem;
    display: grid;
    grid-template-rows: 1fr min-content;
    
    
    &__content {
        grid-row: 1 / 2;
        // grid-column: 2 / 3;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, minmax(min-content, 32rem));
        column-gap: 1.5rem;
        color: var(--color-text-footer);

        &--item {
            width: 29.5rem;
            padding: 1.5rem;
            margin-bottom: 5rem;
            font-size: font-size(font-size-little);


            &__logo {
                display: block;
                margin-bottom: 3.5rem;
                
                img {
                    width: 19rem;
                }
            }

            p {
                margin-bottom: 2.5rem;
                font-weight: font-weight(font-weight-medium);
                line-height: 3rem;
            }

            &__social {
                display: flex;

                li {
                    margin-right: 0.5rem;
                    width: 4rem;
                    height: 4rem;
                    display: block;
                    text-align: center;
                    line-height: 4rem;
                    background-color: var(--color-footer-icon);
                    border-radius: 50%;

                    a:link,
                    a:visited {
                        i {color: var(--color-text-footer) ;
                        font-size: font-size(font-size-little) ;
                        }

                    }

                    a:hover,
                    a:active {
                        i{
                        color: var(--color-accent);
                        }
                    }
                }
            }

            
            h5 {
                    color: var(--color-footer-title);
                    font-weight: font-weight(font-semi-bold);
                    font-size: font-size(font-size-large);
                    margin-bottom: 3rem;
            }

            ul.footer-list  {
               
                li {
                    padding-bottom: 1.5rem;
                    margin-bottom: 1.5em;
                    display: flex;
                    border-bottom: 0.1rem dashed var( --color-footer-line);
                    
                    img {
                        width: 9rem;
                        height: 7rem;
                        margin-right: 1.5rem;
                        border-radius: 0.3rem;
                        }
                    
                        a:link,
                        a:visited {
                            font-size: font-size(font-size-regular);
                            color: var(--color-text-footer);
                        }

                        a:hover,
                        a:active {
                            color: var(--color-accent);
                        }

                    div {
                        
                       h5 {
                           margin-bottom: 0.5rem;
                           line-height: 2.4rem;                      
                           a:link,
                           a:visited {
                             color: var(--color-footer-title);
                             font-size: font-size(font-size-little);
                             font-weight: font-weight(font-semi-bold);
                             transition: all 0.5s ease-in-out;
                            }

                            a:hover,
                            a:active {
                                color: var(--color-accent);
                            }
                        }

                        p {
                            font-size: font-size(font-size-xtiny);
                            line-height: 2.4rem;
                        }

                    }   

                   
                   
                }
            }

            &__form {
                input,
                textarea {
                    font-family: "Poppins", sans-serif;
                    font-size: font-size(font-size-xtiny);
                    width: 100%;
                    border-radius: 0.3rem;
                    margin-bottom: 1rem;
                    // line-height: 2.6rem;
                    padding-left: 1.6rem;
                    padding-right: 1.6rem;
                    border: none;
                }
                input {
                    padding-top: 0.9rem;
                    padding-bottom: 0.9rem;
                }  

                textarea {
                    padding-top: 1.2rem;
                    padding-bottom: 1.2rem;
                    height: 9.8rem;

                }

                button.btn {
                    font-size: font-size(font-size-little);
                    padding: 1.4rem 4rem;
                    border-radius: 0.3rem;
                }
            }
           
            
        }
    }
    &__copyright {
        grid-row: 2 / 3;
        background-color: var(--color-copyright);
        
        @extend %sec-flex;
        padding: 3.5rem 0;
        color: var(--color-text);
        font-size: font-size(font-size-regular);
        font-weight: font-weight(font-weight-medium);

 }
    
}

// - - - - The 1200px Desktop - - - 

@include media-desktop {
    .footer {
        &__content {
            max-width: 96rem;
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &--item {
                width: 25%;
            }
        }
    }
}
// - - - - The 992px  - - - 

@include media-tablet {
    .footer {
        &__content {
            max-width: 72rem;
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            &--item {
                width: 45%;
            }
        }
    }
}         

// - - - -  The 768px  - - - -
@include media-medium {
    .footer {
        &__content {
            max-width: 51rem;
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &--item {
                width: 100%;
            }
        }

        &__copyright {
            font-size: 1.4rem;
        }
    }
}

// - - - -  The 576px  - - - -
@include media-small {
    .footer {
        &__content {
        max-width: 49rem;
        width: 100%;
        margin: 0 auto;
        }
    }
}