html {
    // Color variables
    --color-main: #ffffff; 
    --color-main-m: #ffffff98;
    --color-primary: #062a4d;
    --color-accent: #2acb35;
    --color-accent-m: #2acb354b;


    --color-secondary: #3c3444;
    --color-tertiary: #373d46;
    --color-text: #747373;
    --color-text-lite: #dbdbdb;
    --color-video-bg: #1d142cee;
    --color-bg: #1d142c;
    --color-line: #c4c4c4;
    --color-line-2: #d8d8d8;
    --color-link: #545353;
    --color-shadow-features: rgba(0, 0, 0, 0.048);
    --color-shadow: rgb(97 104 212 / 20%);
    --color-shadow-too: rgb(89 75 128 / 9%);
    --color-shadow-three: rgb(68 68 68 / 24%);
    --color-border: #eae6e4;
    --color-pricing: #444172;
    --color-subscription: #5b5b5b;
    --color-input-1:  #edecec;
    --color-text-footer: #969696;
    --color-footer-icon: #252526;
    --color-footer-title: #e4e4e4;
    --color-footer-line: #464547;
    --color-copyright: #000;
    
}

$font-weights: (
  "font-weight-light": 300,
  "font-weight-regular": 400,
  "font-weight-medium": 500,
  "font-semi-bold": 600,
  "font-weight-medium-plus": 700,
  "font-weight-bold": 800,
  "font-weight-black": 900,
);

@function font-weight($font-weight-style) {
  @return map-get($font-weights, $font-weight-style);
}


$font-sizes: (
  "font-size-tiny": 1rem,
  "font-size-xtiny": 1.2rem,
  "font-size-little": 1.4rem,
  "font-size-small": 1.5rem,
  "font-size-regular": 1.6rem,
  "font-size-no-large": 1.7rem,
  "font-size-large": 1.8rem,
  "font-size-slarge": 2.2rem,
  "font-size-mlarge": 2rem,
  "font-size-xslarge": 2.4rem,
  "font-size-xlarge": calc(2.6rem + 0.1vw),
  "font-size-titles-h3-h4": 3rem,
  "font-size-xxlarge": 3.6rem,
);

@function font-size($font-size-style) {
  @return map-get($font-sizes, $font-size-style);
}

$break-points: (
  "break-point-little": 380px,
  "break-point-small": 576px,
  "break-point-medium": 768px,
  "break-point-tablet": 992px,
  "break-point-desktop-mini": 1024px,
  "break-point-desktop": 1200px,
);

@function break-point($break-point-limit) {
  @return map-get($break-points, $break-point-limit);
}
