:root {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.9;
    font-weight: 300;
    color: var(--color-text);
}

.container {
    display: grid;
    grid-template-columns: [container-start] 1fr [center-start] minmax(min-content, 130rem) [center-end] 1fr [container-end];
    grid-template-rows: min-content  repeat(15, min-content);

    // - - - - The 1200px Desktop - - - 
    @include media-desktop {
      grid-template-columns: [container-start] 1fr [center-start] minmax(min-content, 93rem) [center-end] 1fr [container-end];   
  
    }
    // - - - -  The 768px  - - - -
@include media-medium  {
    grid-template-columns: [container-start] 1fr [center-start] minmax(min-content, 72rem) [center-end] 1fr [container-end];
  }

  // - - - -  The 576px  - - - -
@include media-small {
  grid-template-columns: [container-start] 1fr [center-start] minmax(min-content, 51rem) [center-end] 1fr [container-end];
 }

}

li {
    list-style: none;
  }
  
  a:link,
  a:visited {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 500;
    // letter-spacing: 0.2rem;
    font-size: 0.9375rem;
  }
  
  i {
    color: var(--color-accent);
    
  }

  

  