
.header {
    grid-column: container-start / container-end;
    background-color: var(--color-main);
    padding: 1rem 0;
    border-bottom: 0.1rem solid var(--color-accent-m);
    transition: all 1.5s ease-in-out;
    animation: translater 1.5s;

    &__container {
        max-width: 130rem;
        width:100%;
        height: 13rem;
        margin: 0 auto;
        padding: 0 1rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &--logo {
            margin-right: 1.6rem;
            padding: 0.5rem 0;
            img {
            width: 19rem;
            } 
        }

        &--navbar-toggler {
            display: none;
            // opacity: 0;
        }

        ul {
             display: flex;
             justify-content: space-between;
             }
        &--main-menu {
            width: 50%;
            margin-left: auto;

            li {
                display: block;
                a {
                    font-size: 1.5rem;
                    padding: 3.1rem 0;
                }
            }
        }

        &--action {
            margin-left: 1.6rem;

            li {
                display: inline-block;
                position: relative;

                i {
                    font-size: 1.6rem;
                }
                
                
            }
            li:first-child {
                padding-right: 10px;
                margin-right: 10px
            }

            li:first-child::before {
                content: "";
                     position: absolute;
                     right: 0;
                     top: 50%;
                     height: 25px;
                     width: 1px;
                     background: #d7d7d7;
                     transform: translateY(-50%);
                     border-radius: 50%;
                
                 }

            li:last-child {
                span {
                    height: 1.5rem;
                    width: 1.5rem;
                    text-align: center;
                    // display: block;
                    position: absolute;
                    line-height: 15px;
                    font-size: 10px;
                    border-radius: 50%;
                    font-weight: 600;
                    top: -1.3rem;
                    right: -0.3rem;
                    background: var(--color-accent);
                    color: var(--color-main);
                    border: none;
                }
            }

            

        }

        &--button {
            display: block;
            margin-left: 3rem;
        }

    }  
}
.fixed-menu {
    width: 100%;
    position: fixed;
    box-shadow: 0 0.1rem 5rem 1rem rgba(0, 0, 0, 0.164);
    z-index: 20;
    border: none;
    
    transition: all 2s ease-in-out;
    transform: translateY(200);
    animation-name: translater;
    animation-duration: 2s;
    opacity: 1;

}


@keyframes translater {
    0% { 
        opacity: 0;
        transform: translateY(-200rem);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}
// // - - - - The 1200px Desktop - - - 

@include media-desktop {
    .header {
        &__container {
            max-width: 96rem;
            width: 100%;
            margin: 0 auto;

            &--main-menu {
                width: 60%;
                margin-left: auto;
            }

            &--button {
                display: none;
            }
        }
              
    }
}

// - - - - The 992px Desktop - - - 

@include media-desktop {
    .header {
        &__container {
            max-width: 72rem;
            width: 100%;
            margin: 0 auto;

            &--main-menu {
                li {
                display: none;
                }
             }
             &--navbar-toggler {
                display: block;
                background-color: var(--color-main);
                padding: 0.8rem;
                border-radius: 0.2rem;
                border: 0.2rem solid #2acb35;
                width: 4.5rem;
                height: 4.5rem;
                position: relative;
                margin-left: 3rem;
                padding-bottom: 1rem;

                span {
                    background: #2acb35;
                    height: 0.3rem;
                    width: 2rem;
                    margin: auto;
                    margin: 0 0.4rem;
                    display: block;
                    margin: auto;
                    margin-top: 0.3rem;
}
                }
            }
       
    }
}

// - - - -  The 768px  - - - -
@include media-medium {
    .header {
        &__container {
            max-width: 51rem;
            width: 100%;
            margin: 0 auto;

            &--action {
                
                li {
                    display: none;
                }
            }
        }
    }
}
// - - - -  The 576px  - - - -
@include media-small {
    .header {
        &__container {
        max-width: 49rem;
        width: 100%;
    }
}
}
