.showcase {
    background-color: var(--color-main);
    grid-column: center-start / center-end;
    margin-top: 10rem auto 0;
    
    @extend %sec-pad110;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    
    
    
    &__content {
        padding-top: 6rem;
        
        
        h1 {
            color: var(--color-secondary);
            font-size: 65px;
            line-height: 1.2;
            margin-bottom: 15px;
            letter-spacing: -2px;
            font-weight: bold;
            
            span {
                color: var(--color-accent);
            }
        }
        
        p {
            @extend %para-lite;
            transition: all 1.5s ease-in-out;
            animation: bottomtraslate 2s; 
            
        }
        
        &--bnt {
            display: flex;

            &__purchase {
                display: block;
                transition: all 1.5s ease-in-out;
                animation: lefttraslate 2s ;
            }
            
            &__contact {
                display: block;
                margin-left: 3rem;
                transition: all 1.5s ease-in-out;
                animation: righttraslate 2s ;
            }
        }
        
    }
    &__slider {
      
        transition: all 1.5s ease-in-out;
        animation: righttraslate 2s ;
        
        img {
            width: 100%;
        
        }
    }
}

@keyframes righttraslate {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes lefttraslate {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bottomtraslate {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// - - - - The 1200px Desktop - - - 

@include media-desktop {

.showcase {
    
    max-width: 93rem;
    margin: 0 auto;
    
    &__content 
    {
    h1 {
        font-size: 4.9rem;
    }

    p {
        font-size: font-size(font-size-little) !important;
        padding-right: 4rem;
    }
    }
}
}

// - - - - The 992px  - - - 

@include media-tablet {
    .showcase {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(auto-fit, min-content);
     
    max-width: 72rem;
    margin: 0;
    
    &__content 
    {
        padding-top: 5rem;
        grid-row: 2 / 3;
        // width: 100%;
        text-align: center;
    h1 {
        font-size: 5.1rem;
        span {
            color: inherit;
        }
    }

    p {
        font-size: font-size(font-size-little) !important;
        padding: 0 3.5rem;
        margin-bottom: 4.5rem;
    }

    &--bnt {
        justify-content: center;
    }
    }
    &__slider {
        grid-row: 1 / 2;
    }
}
}

// - - - -  The 768px  - - - -
@include media-medium {
    .showcase{
        max-width: 52rem;
        width:100%;
        margin: 0 auto;
               
        &__content {
                 
             h1 {
                font-size: 3.8rem;
             }

             p {
                 font-size: font-size(font-size-small) !important;
                 padding: 0 ;
                 margin-bottom: 3.5rem;
                }

            &--bnt {
                &__contact {

                    display: none;
                }
            }
    
         }
    }
}

// - - - -  The 576px  - - - -
@include media-small {
    .showcase{
        max-width: 49rem;
        width: 100%;
        
               
        &__content {
                 
             h1 {
                font-size: 3.2rem;
                margin-bottom: 1.5rem;
             }

             p {
                 font-size: font-size(font-size-small) !important;
                 padding: 0 ;
                 margin-bottom: 3.5rem;
                }
         }
    }
}




