.features {
    background-image: url("../img/features/features_bg-1.jpg");
    grid-column: container-start / container-end;
   
    @extend %sec-flex;
    
    &__content {
        display: grid;
        grid-template-columns: repeat(4, minmax(min-content, 32rem));

        &--item {
                height: 100%;
                padding: 6rem 2.5rem;
                transition: .3s ease-in-out;
                border: 0.1rem solid transparent;
                margin: 0 1rem 0;
                text-align: center;

            &__icon {
            background: #fff;
            width: 10rem;
            height: 10rem;
            line-height: 10rem;
            border-radius: 50%;
            box-shadow: 0 0.3rem 0.5rem 0 var(--color-shadow-features);
            border: 0.1rem dashed var( --color-border);
            margin: 0 auto 20px;

            img {
                width: 60%;
                vertical-align: middle;
                transition: all 1s ease-in-out;
                backface-visibility: hidden;
                transform: perspective(100rem);
            }

            
             }

             &__title {
                  @extend %sec-h5;
                  font-size: 1.7rem;
                  margin-bottom: 1rem;
             }

             &__para {
           
            @extend %para-small;
             }
            }

        &--item:first-child {
            margin-left: 0;
           
        }
        &--item:last-child {
            margin-right: 0;
            }
        
        &--item:hover,
        &--item:active {
            border: 1px solid #f1f1f1;
            background-color: var(--color-main-m);
           
        
           
            img{
                transform: perspective(100rem) rotateY(2turn);
            }
        }
       
    }
}


// - - - -  The 1024px  - - - -
@include media-desktop-mini {
    .features {
        
        &__content {
            display: grid;
            grid-template-columns: repeat(2, minmax(min-content, 49.7rem));
            grid-template-rows: 1fr 1fr;

            padding: 0 1.5rem;

            &--item {
                     width: 100%;
                     margin: 0;
                     padding: 4rem 1.5rem;
            }
        }
    }
}

// - - - -  The 768px  - - - -
@include media-medium {
    .features {
        
        &__content {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto-fit, min-content);


            &--item {
                max-width: 76.8rem;
                width: 100%;
            }
        }
    }
}

// - - - -  The 576px  - - - -
@include media-small {
    .features {

        &__content {

            max-width: 49rem;
            width: 100%;
        }
    }
}

