.about {
     grid-column: center-start / center-end;
    
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: 4.5rem;
     @extend %sec-pad110; 

     &__img {
         text-align: center;
         position: relative;

        }
     &__img::before {
           content: "";
           display: block;
           position: absolute;
           background-image: url("../img/about/ellips_shape.png");
           background-position: center;   
           width: 100%;
           height: 100%;
           background-repeat: no-repeat;
           z-index: -1;
     }

     &__img::after {
           content: "gfgf";
           display: block;
        //    background-color: blue;
           position: absolute;
           transform: translateY(-100%);
           background-image: url("../img/about/services_shape_2.png");
           background-position: center;   
           width: 100%;
           height: 100%;
           background-repeat: no-repeat;
           z-index: -1;
     }

     &__content {
         align-self: center; 
        &--titles {
            h6 {
                letter-spacing: 0.3rem;
                text-transform: uppercase;
                font-size: 1.2rem;
                color: var(--color-accent);
                @extend %sec-h6;
            }

            h2 {
                text-align: left;
                margin-bottom: 3.5rem;
            }
        }
        
        &--para {
            @extend %para-small;
            font-style: italic;
            padding-right: 5rem;
            margin-bottom: 3.5rem;
        }

        &--list {
            display: flex;
            margin-bottom: 1.5rem;

            &__icon {
                width: 3.2rem;
                height: 3.2rem;
                // flex: 0 0 32px;
                text-align: center;
                line-height: 3.2rem;
                background: var(--color-tertiary);
                border-radius: 50%;
                font-size: 1.2rem;
                color: var(--color-accent);
                margin-right: 1.5rem;
                transition: .3s linear;
            }

            
            p {
                @extend %para-small;
                font-weight: font-weight(font-semi-bold);
            }
        }

        &--list:hover,
        &--list:active {

            div {
                background-color: var(--color-accent);
            }
                
            i.fa-check:before {
                    content: "\f00c";
                    color: var(--color-main);
            }
            
        }
    }

    &__button {
        margin-top: 3.5rem;
    }
}

// - - - - The 1200px Desktop - - - 

@include media-desktop {
    .about {
        column-gap: 2rem;

        &__content {
            &--para {
                padding-right: 0;
                
            }
        }
    }

}

// - - - -  The 1024px  - - - -
@include media-desktop-mini {
    .about {
        grid-template-columns: minmax(69rem, 72rem);
        grid-template-rows: 1fr 1fr;
        margin: auto;

        &__img {
            margin-bottom: 5rem;
        }
    }
}

// - - - -  The 768px  - - - -
@include media-medium {
    .about {
        grid-template-columns: minmax(min-content, 54rem);

        &__content {
            &--titles {
                h2 {
                    font-size: 3.2rem;
                }
            }
        }
    }
}

// - - - -  The 576px  - - - -
@include media-small {
    .about {
        max-width: 49rem;
        width: 100%;
    }
}
