.video {
    grid-column: container-start / container-end;

    background-image: linear-gradient(var(--color-video-bg), var(--color-video-bg)),
                        url("../img/video/video_bg.png");
    background-position: center;
    background-size: cover;
    @extend %sec-pad110; 
      
    &__content {
        @extend %sec-header;
        margin: 0 auto;

        &--play {
            margin-bottom: 4.5rem;

            a.popul-vide {
                background-color: var(--color-accent);
                display: block;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                text-align: center;
                line-height: 100px;
                margin: 0 auto;
                position: relative;
                font-size: 18px;
                z-index: 1;
                
                                
                i.fa-play {
                    color: var(--color-main);
                    z-index: 2;
                    
                }
            }

            a.popul-vide::before {
                content: "";
                background-color: var(--color-main-m);
                // background-position: center;
                display: block;
                width: 130px;
                height: 130px;
                border-radius: 50%;
                // text-align: center;
                // line-height: 130px;
                margin: 0 auto;
                position: absolute;
                font-size: 18px;
                top: -15px;
                left: -15px;
                z-index: -1;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: background-color 0.25s ease-out;
                animation: hoop 2s 0s both ease-out infinite;
                animation-play-state: running;

            }

            a.popul-vide::after {
                content: "";
                background-color: var(--color-main-m);
                display: block;
                width: 140px;
                height: 140px;
                border-radius: 50%;
                margin: 0 auto;
                position: absolute;
                font-size: 18px;
                top: -20px;
                left: -20px;
                z-index: -1;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: background-color 0.25s ease-out;
                animation: hoop 2s 0.5s both ease-out infinite;
                animation-play-state: running;

            }
         }

         &--text {
             text-align: center;
             &__title {
                 font-size: 3.5rem;
                 color: var(--color-main);
                 margin-bottom: 1.5rem;
             }

             p{
                 @extend %para-dark;
                 margin-bottom: 3.5rem;
             }
         }
    }
}

@keyframes hoop {
    0% {
        background-color: var(--color-accent-m);
        opacity: 0;
        transform: scale(0, 0);
        box-shadow: 5px 5px 2px 2px var(--color-main-m);
    }

    50% {
        opacity: 1;
        background-color: var(--color-accent-m);
        transform: scale(0, 0);
    }
   
    100% {
        opacity: 0;
        transform: scale(1, 1);
    }
}
// - - - -  The 768px  - - - -
@include media-medium {
    .video {
        &__content {
                width: 51rem;
                &--text {
                        &__title {
                             font-size: 3.2rem;
                         }
                    }
             }
    }
}
// - - - -  The 576px  - - - -
@include media-small {
    .video {
    &__content {
        max-width: 49rem;
        width: 100%;
    }
}
}