.product {
    background-color: var(--color-main);
    grid-column: center-start / center-end;
    @extend %sec-pad110;

    display: grid;
    grid-template-columns: 60% 40%;
    grid-row: min-content 1fr;
    // column-gap: 3rem;

    
    &__header {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        @extend %sec-header;
        @extend %para-lite;
        text-align: center;
                    
        
    }

    &__slideshow {
        grid-column: 1 / 2;
        grid-row: 2 / 3;

        max-width: 71.2rem; 
        display: flex;
        flex-direction: column;
                 

        &--sliders {
            
            
            &__slide {
                display: none;

                img {
                    width: 100%;
                    padding: 0 1rem 2rem;

                }
            }

            &__slide.active {
                display: block;
                animation: slide 1s linear;
            }
        }

        &--indicators {
            display: flex;
            
            img {
                max-width: calc(71.2rem/4);
                padding: 0 1rem;
            }
        }

    }
    
    &__content {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        align-self: center;
        // margin: 0 5rem;
        
        h3, h5, span, a {
            text-transform: uppercase;
        }

        &--price {
            color: var(--color-accent);
            font-size: font-size(font-size-slarge);
            font-weight: font-weight(font-weight-medium);
            line-height: 3em;

            display: flex;
            flex-direction: row;
            
            &__rating {
                         margin-left: 1.5rem;
                         width: 8rem;
                         height: 6rem;
                        //  background-color: red; 
                         display: block;
                         transform: translateY(-0.5rem);
                i.fa-star {
                    font-size: font-size(font-size-tiny);
                    }
            }
        }

        p {
            @extend %para-small;
            margin-bottom: 4rem;
        }

        &--btn {
            border-bottom: 1px dashed #c4c4c4 ;
            padding-bottom: 4rem;
            margin-bottom: 3.5rem;
        }

        &--info {
            margin-bottom: 6rem;

            h5 {
                font-size: font-size(font-size-small);
                margin-bottom: 1.5rem;
            }

            span, a {
                font-size: font-size(font-size-little);
            }

            span {
                color: var(--color-accent);
                font-weight: font-weight(font-semi-bold);
            }

            a {
                margin: 0.5rem;
                color: var(--color-text);
            }
        }

        &--description {
            ul {
                display: flex;
                margin-bottom: 2.5rem;

                li:first-child {
                    margin-right: 3rem;
                    
                }
                
                li {
                    display: block;
                    width: min-content;

                    
                }               
            }
                a:link,
                a:visited,
                a:hover,
                a:active {
                    font-size: font-size(font-size-small);
                    font-weight: font-weight(ont-weight-medium-plus);
                    color: var(--color-link);
                }
                

            
        }
        
    }
    
}
@keyframes slide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// - - - - The 1200px Desktop - - - 

@include media-desktop {
    .product {
        width: 96rem;
        margin: 0 auto;
        grid-template-columns: 50% 50%;

        &__slideshow {

            &--sliders {
                margin: 0 1rem;
            }

            &--indicators {
                justify-content: center;

                img {
                    width: 11rem;
                }
            }
        }

    }
}

// - - - - The 992px  - - - 

@include media-tablet {
    .product {
        width: 69rem;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);

        &__header {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
            max-width: 60rem;
            margin: 0 auto;
            
        }

        &__slideshow {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
            padding: 0 1rem;

            &--indicators {
                
                img {
                    max-width: 17.3rem;
                }
            }
        }

        &__content {
            grid-column: 1 / -1;
            grid-row: 3 / 4;

            padding: 0 1rem;
            margin-top: 5rem; 
            
            &--description {
                
                &__reviews {
                    p {
                        margin-bottom: 0;
                    }
                }

            }
            
        }

    }
}

// - - - -  The 768px  - - - -
@include media-medium {
    .product {
        width: 51rem;
        // margin: 0 auto;
        padding-bottom: 0 !important;

        &__header {
            width: 51rem;
            margin: 0 auto;
        }

        &__slideshow {
            width: 51rem;
            margin: 0 auto;
            padding: 0;

            &--indicators {
                img {
                    width: 30%;
                    // padding: 0;
                }
                img:first-child {
                    padding-left: 0;
                }
                img:nth-child(3) {
                    padding-right: 0;
                }

                img:last-child {
                    display: none;
                }
            }
        }
    }
}