// - - - - - - The 1200px - - - - - - -
@mixin media-desktop {
  @media screen and (max-width: break-point(break-point-desktop)) {
    @content;
  }
}

// - - - - - - The 1024px - - - - - - -
@mixin media-desktop-mini {
  @media screen and (max-width: break-point(break-point-desktop-mini)) {
    @content;
  }
}

// - - - - - - The 900px - - - - - - -
@mixin media-tablet {
  @media screen and (max-width: break-point(break-point-tablet)) {
    @content;
  }
}

// - - - - - - The 768px - - - - - - -
@mixin media-medium {
  @media screen and (max-width: break-point(break-point-medium)) {
    @content;
  }
}

// - - - - - - The 576px - - - - - - -
@mixin media-small {
  @media screen and (max-width: break-point(break-point-small)) {
    @content;
  }
}


// - - - - - - - - - - - - - - -

@import "1.reset";
@import "2.variables";
@import "3.utilities";
@import "4.header";
@import "5.showcase";
@import "6.advanteges";
@import "7.about";
@import "8.video";
@import "9.product";
@import "10.ingredients";
@import "11.facts";
@import "12.packeges";
@import "13.doctors";
@import "14.blog";
@import "15.partners";
@import "16.subscription";
@import "17.footer";

// #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# ALIGMENT, GRID, FLEX #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# 

// For section headers
%sec-header {
        margin: 0 auto;
        max-width: 80rem;
        width: 100%;
}
//  - - - - - Margins & Paddings 

%sec-pad110 {
padding: 11rem 0rem;  
}

// - - - - - Flexbox
%sec-flex {
  display: flex;
  justify-content: center;
  
}

//  - - - - -Grid

//  Grid for 2 column
%grid-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

//  Grid for 3 column 

%grid-3col {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 130rem) 1fr;
  
}

//  Grid for 4 column

%grid-4col {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 32rem));
}

// #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# PARAGREFS & TITLES #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# 

%para-lite {
  color: var(--color-text);
  font-size: font-size(font-size-regular);
  font-weight: font-weight(font-weight-medium);
  line-height: 1.9;
  margin-bottom: 3.5em;
  
   }

%para-dark {
  color: var(--color-text-lite);
  font-size: font-size(font-size-regular);
  font-weight: font-weight(font-weight-medium);
  line-height: 1.9;
  text-align: center;
}

%para-small {
  font-size: font-size(font-size-little);
  color: var(--color-text);
  line-height: 2.6rem;
  font-weight: font-weight(font-weight-regular);
}

// ---- Titles -------
h2, h3, h4, h5 {
  color: var(--color-secondary);

}
h2 {
  font-size: font-size(font-size-xxlarge);
  text-align: center;
  margin-bottom: 1.5rem;
  line-height: 5rem;
}

h3,
h4 {
  font-size: font-size(font-size-titles-h3-h4);
  // color: var(--color-secondary);
  line-height: 1.2em;
  font-weight: font-weight(font-weight-medium-plus);
}

%sec-h5 {
  // color: var(--color-secondary);
  font-weight: font-weight(font-weight-medium-plus);
  line-height: 1.2rem;
}

%sec-h6 {
margin-bottom: 1rem;
  line-height: 1.2rem;
}

//************************** Scroll to top button *******************
.scroll {
    position: fixed;
    bottom: 70rem;
    right: 5rem;
    height: 5rem;
    width: 5rem;
    background-color: var(--color-accent);
    border-radius: 50%;
    z-index: 300;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
    
      font-weight: font-weight(font-weight-black);
      // color: var(--color-main);
      
      i {
        position: relative;
        top: 1rem;
        left: 1.6rem;
        text-align: center;
        font-size: 2.6rem;
        color: var(--color-main);
      }
    
  }

  
  .scroll.active {
    visibility: visible;
    opacity: 1;
    bottom: 4rem;
  }

  //************************** Buttons *******************
  
  a.btn:link,
  a.btn:visited {
     display: inline-block;
    //  position: relative;
     background-color: var(--color-accent);
     border-radius: 5rem;
     min-width: min-content;
     width: max-content;
     padding: 1.5rem 5rem;
     height: min-content;
     border: 2px solid var(--color-accent);
     cursor: pointer;
     
     color: var(--color-main);
     font-size: 1.4rem;
     font-weight: 800;
     letter-spacing: 0;
     line-height: 1;
     text-align: center;
     text-transform: uppercase;

     transition: all 0.4s ease-in-out;

  }
  a.btn:hover,
  a.btn:active {
    background-color: transparent;
    color: var(--color-accent);
  }

//************************** Button Inside-out*******************
  
a.btn--inside-out:link,
a.btn--inside-out:visited {
   display: inline-block;
  //  position: relative;
   background-color: transparent;
   border-radius: 5rem;
   min-width: min-content;
   width: 100%;
   padding: 1.5rem 5rem;
   height: min-content;
   border: 2px solid var(--color-accent);
   
   color: var(--color-accent);
   font-size: 1.4rem;
   font-weight: 800;
   letter-spacing: 0;
   line-height: 1;
   text-align: center;
   text-transform: uppercase;

   transition: all 0.4s ease-in-out;

}
a.btn--inside-out:hover,
a.btn--inside-out:active {
  background-color: var(--color-accent);
  color: var(--color-main);
}

//************************** Button Rectangular*******************
button.btn{
  cursor: pointer;
  font-weight: 700;
  background-color: var(--color-accent);
  border: 0.2rem solid var(--color-accent);
  transition: all 0.4s ease-in-out;
  color: var(--color-main);
}
button.btn:hover {
  background-color: inherit;
  color: var(--color-accent);
}


// ----------- Line div.bar -------------

div.bar {
  height: 2px;
  width: 165px;
  background-color: #c4c4c4;
  margin: 20px auto 30px;
  position: relative;
  border-radius: 50%;
 }

div.bar::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--color-accent);
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: -3px;
  transition: all 1s linear;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: mypoint;
   
}

@keyframes mypoint {
  0% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(160px);
  }

}