*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
}

html {
  --color-main: #ffffff;
  --color-main-m: #ffffff98;
  --color-primary: #062a4d;
  --color-accent: #2acb35;
  --color-accent-m: #2acb354b;
  --color-secondary: #3c3444;
  --color-tertiary: #373d46;
  --color-text: #747373;
  --color-text-lite: #dbdbdb;
  --color-video-bg: #1d142cee;
  --color-bg: #1d142c;
  --color-line: #c4c4c4;
  --color-line-2: #d8d8d8;
  --color-link: #545353;
  --color-shadow-features: rgba(0, 0, 0, 0.048);
  --color-shadow: rgb(97 104 212 / 20%);
  --color-shadow-too: rgb(89 75 128 / 9%);
  --color-shadow-three: rgb(68 68 68 / 24%);
  --color-border: #eae6e4;
  --color-pricing: #444172;
  --color-subscription: #5b5b5b;
  --color-input-1:  #edecec;
  --color-text-footer: #969696;
  --color-footer-icon: #252526;
  --color-footer-title: #e4e4e4;
  --color-footer-line: #464547;
  --color-copyright: #000;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.9;
  font-weight: 300;
  color: var(--color-text);
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [container-start] 1fr [center-start] minmax(min-content, 130rem) [center-end] 1fr [container-end];
      grid-template-columns: [container-start] 1fr [center-start] minmax(-webkit-min-content, 130rem) [center-end] 1fr [container-end];
      grid-template-columns: [container-start] 1fr [center-start] minmax(min-content, 130rem) [center-end] 1fr [container-end];
  -ms-grid-rows: min-content (min-content)[15];
      grid-template-rows: -webkit-min-content repeat(15, -webkit-min-content);
      grid-template-rows: min-content repeat(15, min-content);
}

@media screen and (max-width: 1200px) {
  .container {
    -ms-grid-columns: [container-start] 1fr [center-start] minmax(min-content, 93rem) [center-end] 1fr [container-end];
        grid-template-columns: [container-start] 1fr [center-start] minmax(-webkit-min-content, 93rem) [center-end] 1fr [container-end];
        grid-template-columns: [container-start] 1fr [center-start] minmax(min-content, 93rem) [center-end] 1fr [container-end];
  }
}

@media screen and (max-width: 768px) {
  .container {
    -ms-grid-columns: [container-start] 1fr [center-start] minmax(min-content, 72rem) [center-end] 1fr [container-end];
        grid-template-columns: [container-start] 1fr [center-start] minmax(-webkit-min-content, 72rem) [center-end] 1fr [container-end];
        grid-template-columns: [container-start] 1fr [center-start] minmax(min-content, 72rem) [center-end] 1fr [container-end];
  }
}

@media screen and (max-width: 576px) {
  .container {
    -ms-grid-columns: [container-start] 1fr [center-start] minmax(min-content, 51rem) [center-end] 1fr [container-end];
        grid-template-columns: [container-start] 1fr [center-start] minmax(-webkit-min-content, 51rem) [center-end] 1fr [container-end];
        grid-template-columns: [container-start] 1fr [center-start] minmax(min-content, 51rem) [center-end] 1fr [container-end];
  }
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 500;
  font-size: 0.9375rem;
}

i {
  color: var(--color-accent);
}

.header {
  grid-column: container-start / container-end;
  background-color: var(--color-main);
  padding: 1rem 0;
  border-bottom: 0.1rem solid var(--color-accent-m);
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  -webkit-animation: translater 1.5s;
          animation: translater 1.5s;
}

.header__container {
  max-width: 130rem;
  width: 100%;
  height: 13rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container--logo {
  margin-right: 1.6rem;
  padding: 0.5rem 0;
}

.header__container--logo img {
  width: 19rem;
}

.header__container--navbar-toggler {
  display: none;
}

.header__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container--main-menu {
  width: 50%;
  margin-left: auto;
}

.header__container--main-menu li {
  display: block;
}

.header__container--main-menu li a {
  font-size: 1.5rem;
  padding: 3.1rem 0;
}

.header__container--action {
  margin-left: 1.6rem;
}

.header__container--action li {
  display: inline-block;
  position: relative;
}

.header__container--action li i {
  font-size: 1.6rem;
}

.header__container--action li:first-child {
  padding-right: 10px;
  margin-right: 10px;
}

.header__container--action li:first-child::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  height: 25px;
  width: 1px;
  background: #d7d7d7;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}

.header__container--action li:last-child span {
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  position: absolute;
  line-height: 15px;
  font-size: 10px;
  border-radius: 50%;
  font-weight: 600;
  top: -1.3rem;
  right: -0.3rem;
  background: var(--color-accent);
  color: var(--color-main);
  border: none;
}

.header__container--button {
  display: block;
  margin-left: 3rem;
}

.fixed-menu {
  width: 100%;
  position: fixed;
  -webkit-box-shadow: 0 0.1rem 5rem 1rem rgba(0, 0, 0, 0.164);
          box-shadow: 0 0.1rem 5rem 1rem rgba(0, 0, 0, 0.164);
  z-index: 20;
  border: none;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  -webkit-transform: translateY(200);
          transform: translateY(200);
  -webkit-animation-name: translater;
          animation-name: translater;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  opacity: 1;
}

@-webkit-keyframes translater {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200rem);
            transform: translateY(-200rem);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes translater {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200rem);
            transform: translateY(-200rem);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@media screen and (max-width: 1200px) {
  .header__container {
    max-width: 96rem;
    width: 100%;
    margin: 0 auto;
  }
  .header__container--main-menu {
    width: 60%;
    margin-left: auto;
  }
  .header__container--button {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .header__container {
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
  }
  .header__container--main-menu li {
    display: none;
  }
  .header__container--navbar-toggler {
    display: block;
    background-color: var(--color-main);
    padding: 0.8rem;
    border-radius: 0.2rem;
    border: 0.2rem solid #2acb35;
    width: 4.5rem;
    height: 4.5rem;
    position: relative;
    margin-left: 3rem;
    padding-bottom: 1rem;
  }
  .header__container--navbar-toggler span {
    background: #2acb35;
    height: 0.3rem;
    width: 2rem;
    margin: auto;
    margin: 0 0.4rem;
    display: block;
    margin: auto;
    margin-top: 0.3rem;
  }
}

@media screen and (max-width: 768px) {
  .header__container {
    max-width: 51rem;
    width: 100%;
    margin: 0 auto;
  }
  .header__container--action li {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header__container {
    max-width: 49rem;
    width: 100%;
  }
}

.showcase {
  background-color: var(--color-main);
  grid-column: center-start / center-end;
  margin-top: 10rem auto 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.showcase__content {
  padding-top: 6rem;
}

.showcase__content h1 {
  color: var(--color-secondary);
  font-size: 65px;
  line-height: 1.2;
  margin-bottom: 15px;
  letter-spacing: -2px;
  font-weight: bold;
}

.showcase__content h1 span {
  color: var(--color-accent);
}

.showcase__content p {
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  -webkit-animation: bottomtraslate 2s;
          animation: bottomtraslate 2s;
}

.showcase__content--bnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.showcase__content--bnt__purchase {
  display: block;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  -webkit-animation: lefttraslate 2s;
          animation: lefttraslate 2s;
}

.showcase__content--bnt__contact {
  display: block;
  margin-left: 3rem;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  -webkit-animation: righttraslate 2s;
          animation: righttraslate 2s;
}

.showcase__slider {
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  -webkit-animation: righttraslate 2s;
          animation: righttraslate 2s;
}

.showcase__slider img {
  width: 100%;
}

@-webkit-keyframes righttraslate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes righttraslate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes lefttraslate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes lefttraslate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes bottomtraslate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bottomtraslate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (max-width: 1200px) {
  .showcase {
    max-width: 93rem;
    margin: 0 auto;
  }
  .showcase__content h1 {
    font-size: 4.9rem;
  }
  .showcase__content p {
    font-size: 1.4rem !important;
    padding-right: 4rem;
  }
}

@media screen and (max-width: 992px) {
  .showcase {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (min-content)[auto-fit];
        grid-template-rows: repeat(auto-fit, -webkit-min-content);
        grid-template-rows: repeat(auto-fit, min-content);
    max-width: 72rem;
    margin: 0;
  }
  .showcase__content {
    padding-top: 5rem;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    text-align: center;
  }
  .showcase__content h1 {
    font-size: 5.1rem;
  }
  .showcase__content h1 span {
    color: inherit;
  }
  .showcase__content p {
    font-size: 1.4rem !important;
    padding: 0 3.5rem;
    margin-bottom: 4.5rem;
  }
  .showcase__content--bnt {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .showcase__slider {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

@media screen and (max-width: 768px) {
  .showcase {
    max-width: 52rem;
    width: 100%;
    margin: 0 auto;
  }
  .showcase__content h1 {
    font-size: 3.8rem;
  }
  .showcase__content p {
    font-size: 1.5rem !important;
    padding: 0;
    margin-bottom: 3.5rem;
  }
  .showcase__content--bnt__contact {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .showcase {
    max-width: 49rem;
    width: 100%;
  }
  .showcase__content h1 {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
  }
  .showcase__content p {
    font-size: 1.5rem !important;
    padding: 0;
    margin-bottom: 3.5rem;
  }
}

.features {
  background-image: url("../img/features/features_bg-1.jpg");
  grid-column: container-start / container-end;
}

.features__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 32rem))[4];
      grid-template-columns: repeat(4, minmax(-webkit-min-content, 32rem));
      grid-template-columns: repeat(4, minmax(min-content, 32rem));
}

.features__content--item {
  height: 100%;
  padding: 6rem 2.5rem;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border: 0.1rem solid transparent;
  margin: 0 1rem 0;
  text-align: center;
}

.features__content--item__icon {
  background: #fff;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.3rem 0.5rem 0 var(--color-shadow-features);
          box-shadow: 0 0.3rem 0.5rem 0 var(--color-shadow-features);
  border: 0.1rem dashed var(--color-border);
  margin: 0 auto 20px;
}

.features__content--item__icon img {
  width: 60%;
  vertical-align: middle;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(100rem);
          transform: perspective(100rem);
}

.features__content--item__title {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.features__content--item:first-child {
  margin-left: 0;
}

.features__content--item:last-child {
  margin-right: 0;
}

.features__content--item:hover, .features__content--item:active {
  border: 1px solid #f1f1f1;
  background-color: var(--color-main-m);
}

.features__content--item:hover img, .features__content--item:active img {
  -webkit-transform: perspective(100rem) rotateY(2turn);
          transform: perspective(100rem) rotateY(2turn);
}

@media screen and (max-width: 1024px) {
  .features__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(min-content, 49.7rem))[2];
        grid-template-columns: repeat(2, minmax(-webkit-min-content, 49.7rem));
        grid-template-columns: repeat(2, minmax(min-content, 49.7rem));
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    padding: 0 1.5rem;
  }
  .features__content--item {
    width: 100%;
    margin: 0;
    padding: 4rem 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .features__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (min-content)[auto-fit];
        grid-template-rows: repeat(auto-fit, -webkit-min-content);
        grid-template-rows: repeat(auto-fit, min-content);
  }
  .features__content--item {
    max-width: 76.8rem;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .features__content {
    max-width: 49rem;
    width: 100%;
  }
}

.about {
  grid-column: center-start / center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 4.5rem;
          column-gap: 4.5rem;
}

.about__img {
  text-align: center;
  position: relative;
}

.about__img::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/about/ellips_shape.png");
  background-position: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.about__img::after {
  content: "gfgf";
  display: block;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-image: url("../img/about/services_shape_2.png");
  background-position: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.about__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__content--titles h6 {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-accent);
}

.about__content--titles h2 {
  text-align: left;
  margin-bottom: 3.5rem;
}

.about__content--para {
  font-style: italic;
  padding-right: 5rem;
  margin-bottom: 3.5rem;
}

.about__content--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}

.about__content--list__icon {
  width: 3.2rem;
  height: 3.2rem;
  text-align: center;
  line-height: 3.2rem;
  background: var(--color-tertiary);
  border-radius: 50%;
  font-size: 1.2rem;
  color: var(--color-accent);
  margin-right: 1.5rem;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.about__content--list p {
  font-weight: 600;
}

.about__content--list:hover div, .about__content--list:active div {
  background-color: var(--color-accent);
}

.about__content--list:hover i.fa-check:before, .about__content--list:active i.fa-check:before {
  content: "\f00c";
  color: var(--color-main);
}

.about__button {
  margin-top: 3.5rem;
}

@media screen and (max-width: 1200px) {
  .about {
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .about__content--para {
    padding-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .about {
    -ms-grid-columns: minmax(69rem, 72rem);
        grid-template-columns: minmax(69rem, 72rem);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    margin: auto;
  }
  .about__img {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .about {
    -ms-grid-columns: minmax(min-content, 54rem);
        grid-template-columns: minmax(-webkit-min-content, 54rem);
        grid-template-columns: minmax(min-content, 54rem);
  }
  .about__content--titles h2 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 576px) {
  .about {
    max-width: 49rem;
    width: 100%;
  }
}

.video {
  grid-column: container-start / container-end;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-video-bg)), to(var(--color-video-bg))), url("../img/video/video_bg.png");
  background-image: linear-gradient(var(--color-video-bg), var(--color-video-bg)), url("../img/video/video_bg.png");
  background-position: center;
  background-size: cover;
}

.video__content {
  margin: 0 auto;
}

.video__content--play {
  margin-bottom: 4.5rem;
}

.video__content--play a.popul-vide {
  background-color: var(--color-accent);
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  margin: 0 auto;
  position: relative;
  font-size: 18px;
  z-index: 1;
}

.video__content--play a.popul-vide i.fa-play {
  color: var(--color-main);
  z-index: 2;
}

.video__content--play a.popul-vide::before {
  content: "";
  background-color: var(--color-main-m);
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  font-size: 18px;
  top: -15px;
  left: -15px;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
  -webkit-animation: hoop 2s 0s both ease-out infinite;
          animation: hoop 2s 0s both ease-out infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.video__content--play a.popul-vide::after {
  content: "";
  background-color: var(--color-main-m);
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  font-size: 18px;
  top: -20px;
  left: -20px;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
  -webkit-animation: hoop 2s 0.5s both ease-out infinite;
          animation: hoop 2s 0.5s both ease-out infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.video__content--text {
  text-align: center;
}

.video__content--text__title {
  font-size: 3.5rem;
  color: var(--color-main);
  margin-bottom: 1.5rem;
}

.video__content--text p {
  margin-bottom: 3.5rem;
}

@-webkit-keyframes hoop {
  0% {
    background-color: var(--color-accent-m);
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    -webkit-box-shadow: 5px 5px 2px 2px var(--color-main-m);
            box-shadow: 5px 5px 2px 2px var(--color-main-m);
  }
  50% {
    opacity: 1;
    background-color: var(--color-accent-m);
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes hoop {
  0% {
    background-color: var(--color-accent-m);
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    -webkit-box-shadow: 5px 5px 2px 2px var(--color-main-m);
            box-shadow: 5px 5px 2px 2px var(--color-main-m);
  }
  50% {
    opacity: 1;
    background-color: var(--color-accent-m);
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@media screen and (max-width: 768px) {
  .video__content {
    width: 51rem;
  }
  .video__content--text__title {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 576px) {
  .video__content {
    max-width: 49rem;
    width: 100%;
  }
}

.product {
  background-color: var(--color-main);
  grid-column: center-start / center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  grid-row: min-content 1fr;
}

.product__header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  text-align: center;
}

.product__slideshow {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  max-width: 71.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__slideshow--sliders__slide {
  display: none;
}

.product__slideshow--sliders__slide img {
  width: 100%;
  padding: 0 1rem 2rem;
}

.product__slideshow--sliders__slide.active {
  display: block;
  -webkit-animation: slide 1s linear;
          animation: slide 1s linear;
}

.product__slideshow--indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__slideshow--indicators img {
  max-width: calc(71.2rem/4);
  padding: 0 1rem;
}

.product__content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.product__content h3, .product__content h5, .product__content span, .product__content a {
  text-transform: uppercase;
}

.product__content--price {
  color: var(--color-accent);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.product__content--price__rating {
  margin-left: 1.5rem;
  width: 8rem;
  height: 6rem;
  display: block;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.product__content--price__rating i.fa-star {
  font-size: 1rem;
}

.product__content p {
  margin-bottom: 4rem;
}

.product__content--btn {
  border-bottom: 1px dashed #c4c4c4;
  padding-bottom: 4rem;
  margin-bottom: 3.5rem;
}

.product__content--info {
  margin-bottom: 6rem;
}

.product__content--info h5 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.product__content--info span, .product__content--info a {
  font-size: 1.4rem;
}

.product__content--info span {
  color: var(--color-accent);
  font-weight: 600;
}

.product__content--info a {
  margin: 0.5rem;
  color: var(--color-text);
}

.product__content--description ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.5rem;
}

.product__content--description ul li:first-child {
  margin-right: 3rem;
}

.product__content--description ul li {
  display: block;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.product__content--description a:link,
.product__content--description a:visited,
.product__content--description a:hover,
.product__content--description a:active {
  font-size: 1.5rem;
  color: var(--color-link);
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .product {
    width: 96rem;
    margin: 0 auto;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .product__slideshow--sliders {
    margin: 0 1rem;
  }
  .product__slideshow--indicators {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product__slideshow--indicators img {
    width: 11rem;
  }
}

@media screen and (max-width: 992px) {
  .product {
    width: 69rem;
    margin: 0 auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (min-content)[3];
        grid-template-rows: repeat(3, -webkit-min-content);
        grid-template-rows: repeat(3, min-content);
  }
  .product__header {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    max-width: 60rem;
    margin: 0 auto;
  }
  .product__slideshow {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    padding: 0 1rem;
  }
  .product__slideshow--indicators img {
    max-width: 17.3rem;
  }
  .product__content {
    grid-column: 1 / -1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    padding: 0 1rem;
    margin-top: 5rem;
  }
  .product__content--description__reviews p {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .product {
    width: 51rem;
    padding-bottom: 0 !important;
  }
  .product__header {
    width: 51rem;
    margin: 0 auto;
  }
  .product__slideshow {
    width: 51rem;
    margin: 0 auto;
    padding: 0;
  }
  .product__slideshow--indicators img {
    width: 30%;
  }
  .product__slideshow--indicators img:first-child {
    padding-left: 0;
  }
  .product__slideshow--indicators img:nth-child(3) {
    padding-right: 0;
  }
  .product__slideshow--indicators img:last-child {
    display: none;
  }
}

.ingredients {
  background-image: url("../img/ingredients/faq_bg.jpg");
  background-position: center;
  grid-column: container-start / container-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (64rem)[2] 1fr;
      grid-template-columns: 1fr repeat(2, 64rem) 1fr;
  grid-row: min-content 1fr;
}

.ingredients__header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: 2 / -2;
  text-align: center;
}

.ingredients__header p {
  text-align: center;
}

.ingredients__img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 100%;
  padding: 0 1rem;
}

.ingredients__info {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  padding-left: 3rem;
}

.ingredients__info--card {
  background-color: var(--color-main);
  margin-bottom: 1rem;
  padding: 2.2rem 2.5rem;
}

.ingredients__info--card__header {
  padding-right: 5rem;
}

.ingredients__info--card__header a:link,
.ingredients__info--card__header a:visited,
.ingredients__info--card__header a:hover,
.ingredients__info--card__header a:active {
  font-size: 1.6rem;
  color: var(--color-secondary);
  font-weight: 600;
}

.ingredients__info--card__header a.activelink {
  display: block;
  color: var(--color-accent);
  padding-bottom: 1.5rem;
  border-bottom: 1px dashed var(--color-line);
  width: 100%;
}

.ingredients__info--card__para {
  display: none;
  margin-top: 2rem;
}

.ingredients__info--card p.activelink {
  display: block;
}

@media screen and (max-width: 1200px) {
  .ingredients {
    width: 96rem;
    margin: 0 auto;
    -ms-grid-columns: 1fr (48rem)[2] 1fr;
        grid-template-columns: 1fr repeat(2, 48rem) 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .ingredients__img {
    padding: 0 1.5rem;
  }
  .ingredients__info {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  .ingredients {
    width: 72rem;
    margin: 0 auto;
    -ms-grid-columns: 1fr minmax(min-content, 72rem) 1fr;
        grid-template-columns: 1fr minmax(-webkit-min-content, 72rem) 1fr;
        grid-template-columns: 1fr minmax(min-content, 72rem) 1fr;
    -ms-grid-rows: min-content 1fr 1fr;
        grid-template-rows: -webkit-min-content 1fr 1fr;
        grid-template-rows: min-content 1fr 1fr;
  }
  .ingredients__img {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    width: 61.9rem;
    margin: 0 auto;
  }
  .ingredients__info {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media screen and (max-width: 768px) {
  .ingredients {
    max-width: 54rem;
    width: 100%;
  }
  .ingredients__header {
    width: 51rem !important;
  }
  .ingredients__header h2 {
    font-size: 3.2rem;
  }
  .ingredients__img {
    width: 51rem;
  }
}

.facts {
  background-color: var(--color-video-bg);
  grid-column: container-start / container-end;
}

.facts__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 32rem))[4];
      grid-template-columns: repeat(4, minmax(-webkit-min-content, 32rem));
      grid-template-columns: repeat(4, minmax(min-content, 32rem));
}

.facts__content--fact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
  margin-bottom: 5rem;
}

.facts__content--fact__icon {
  margin-right: 3rem;
}

.facts__content--fact__icon img {
  max-width: 100%;
}

.facts__content--fact__info {
  letter-spacing: 1;
  line-height: 1.2;
}

.facts__content--fact__info span {
  color: var(--color-accent);
  font-size: 3.6rem;
  font-weight: 700;
}

.facts__content--fact__info p {
  color: var(--color-main);
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .facts__content {
    max-width: 72rem;
    width: 100%;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .facts__content {
    max-width: 51rem;
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

.packeges {
  grid-column: center-start / center-end;
}

.packeges__header p {
  text-align: center;
}

.packeges__content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.packeges__content--pricing {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  max-width: 38rem;
  width: 35rem;
  margin: 0 1.5rem 3rem;
  padding: 5rem 3rem;
  text-align: center;
  -webkit-box-shadow: 0rem 0rem 4.6rem 0rem var(--color-shadow);
          box-shadow: 0rem 0rem 4.6rem 0rem var(--color-shadow);
  border-radius: 0.8rem;
  border-top: 0.7rem solid var(--color-border);
  border-bottom: 0.7rem solid var(--color-border);
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.packeges__content--pricing img {
  width: 6.38rem;
  margin-bottom: 2rem;
}

.packeges__content--pricing h5 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.packeges__content--pricing span, .packeges__content--pricing p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1;
}

.packeges__content--pricing span {
  text-transform: uppercase;
  display: block;
  color: #9098a9;
  margin-bottom: 2.5rem;
}

.packeges__content--pricing p {
  margin-bottom: 1.5rem;
  color: #717f99;
}

.packeges__content--pricing h4 {
  font-size: 1.6rem;
  font-weight: 600;
  -webkit-box-shadow: 0 0 2.7rem 0 var(--color-shadow);
          box-shadow: 0 0 2.7rem 0 var(--color-shadow);
  padding: 1.8rem 1rem;
  border-radius: 5rem;
  margin: 0 1rem 3rem;
  color: #444172;
}

.packeges__content--pricing ul {
  margin-bottom: 3rem;
}

.packeges__content--pricing ul li {
  padding-bottom: 12px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #717f99;
}

.packeges__content--pricing a.btn-buy:link,
.packeges__content--pricing a.btn-buy:visited {
  display: inline-block;
  background-color: var(--color-secondary);
  border-radius: 5rem;
  padding: 1rem 3rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border: none;
  color: var(--color-main);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.packeges__content--pricing a.btn-buy:link i.fa-shopping-cart,
.packeges__content--pricing a.btn-buy:visited i.fa-shopping-cart {
  color: var(--color-main);
  margin-left: 1rem;
  padding: 1rem;
  background-color: #574d61;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.packeges__content--pricing:hover {
  border-top: 0.7rem solid var(--color-accent);
  border-bottom: 0.7rem solid var(--color-accent);
}

.packeges__content--pricing:hover a.btn-buy {
  background-color: var(--color-accent);
  color: var(--color-main);
}

.packeges__content--pricing:hover a.btn-buy i.fa-shopping-cart {
  background-color: #0b9214;
}

.doctors {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-video-bg)), to(var(--color-video-bg))), url("../img/doctors/doctors_bg.jpg");
  background-image: linear-gradient(var(--color-video-bg), var(--color-video-bg)), url("../img/doctors/doctors_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: container-start / container-end;
}

.doctors__header {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  padding-bottom: 5rem;
}

.doctors__header h2 {
  color: var(--color-main);
}

.doctors__header p {
  text-align: center;
}

.doctors__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-column-gap: 3.5rem;
          column-gap: 3.5rem;
  padding: 0 1.5rem;
}

.doctors__content--doctor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5.5rem;
}

.doctors__content--doctor__foto {
  margin-right: 2.5rem;
  width: 9.1rem;
  height: 9.1rem;
  border-radius: 50%;
  border: 0.3rem solid var(--color-main);
}

.doctors__content--doctor__info {
  font-size: 1.4rem;
  color: var(--color-text-lite);
}

.doctors__content--doctor__info h6 {
  font-size: 1.8rem;
  font-weight: 500;
}

.doctors__content--doctor__info p {
  margin-bottom: 1.5rem;
}

.doctors__content--doctor__info span {
  color: var(--color-accent);
  font-weight: 600;
  letter-spacing: 1.2;
  font-style: italic;
}

@media screen and (max-width: 1200px) {
  .doctors__content {
    max-width: 96rem;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  .doctors__header {
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
  }
  .doctors__content {
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
  }
  .doctors__content--doctor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .doctors__content--doctor__foto {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .doctors__header {
    max-width: 48rem !important;
    width: 100%;
    margin: 0 auto;
  }
  .doctors__header h2 {
    font-size: 3.2rem;
  }
  .doctors__content {
    max-width: 51rem;
    width: 100%;
    margin: 0 auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .doctors__content--doctor__foto {
    margin: 0 auto;
  }
  .doctors__content--doctor__info h6 {
    margin-top: 2rem;
  }
}

.blog {
  background-color: #fafafa;
  grid-column: container-start / container-end;
}

.blog__header {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  text-align: center;
}

.blog__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__content--item {
  background-color: var(--color-main);
  margin: 0 1.5rem 3rem;
  max-width: calc(130rem / 3 - 3rem);
  -webkit-box-shadow: 0px 0px 10px 0px var(--color-shadow-too);
          box-shadow: 0px 0px 10px 0px var(--color-shadow-too);
}

.blog__content--item img {
  width: 100%;
}

.blog__content--item__info {
  padding: 4rem 3rem 3.5rem;
}

.blog__content--item__info span {
  color: var(--color-accent);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.blog__content--item__info h3 {
  margin-bottom: 1.5rem;
}

.blog__content--item__info h3 a:link,
.blog__content--item__info h3 a:visited,
.blog__content--item__info h3 a:hover,
.blog__content--item__info h3 a:active {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3rem;
}

.blog__content--item__info h3 a:link,
.blog__content--item__info h3 a:visited {
  color: var(--color-secondary);
}

.blog__content--item__info h3 a:hover,
.blog__content--item__info h3 a:active {
  color: var(--color-accent);
}

.blog__content--item__info a.read-me:link,
.blog__content--item__info a.read-me:visited,
.blog__content--item__info a.read-me:hover,
.blog__content--item__info a.read-me:active {
  font-size: 1.4rem;
  font-weight: 500;
  color: --color-secondary;
}

.blog__content--item__info a.read-me:link i.fa-plus,
.blog__content--item__info a.read-me:visited i.fa-plus,
.blog__content--item__info a.read-me:hover i.fa-plus,
.blog__content--item__info a.read-me:active i.fa-plus {
  background-color: var(--color-accent);
  display: inline-block;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0px 0.4rem 1.209rem 0.09rem var(--color-accent-m);
          box-shadow: 0px 0.4rem 1.209rem 0.09rem var(--color-accent-m);
  margin-left: 0.8rem;
  color: var(--color-main);
  -webkit-transition: .3s;
  transition: .3s;
}

.partners {
  background-color: var(--color-main);
  grid-column: center-start / center-end;
  padding-top: 11rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  justify-items: stretch;
}

.partners__logotips {
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (max-width: 1200px) {
  .partners {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .partners__logotips:last-child {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .partners {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .partners__logotips:first-child {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .partners {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .partners__logotips:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .partners {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .partners__logotips:nth-child(2) {
    display: none;
  }
}

.subscription {
  grid-column: center-start / center-end;
  background-image: url(../img/showcase/newsletter_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0.8rem solid var(--color-accent);
  padding: 4rem 5rem;
  z-index: 1;
  position: relative;
  top: 50%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscription__content h4 {
  margin-bottom: 1rem;
}

.subscription__content span {
  color: var(--color-subscription);
  font-size: 1.6rem;
  font-weight: 500;
  font-style: italic;
}

.subscription__form input {
  border: none;
  padding: 1.5rem 2.5rem;
  background: var(--color-input-1);
  font-size: 1.4rem;
  margin-right: -0.3rem;
  width: 46.5rem;
  line-height: 2.6rem;
  letter-spacing: 1.5;
}

.subscription__form button.btn {
  font-size: 1.7rem;
  font-style: italic;
  text-transform: capitalize;
  padding: 1.7rem 2.8rem;
  border-radius: 0;
}

@media screen and (max-width: 1200px) {
  .subscription {
    max-width: 96rem;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .subscription {
    max-width: 93rem;
    width: 100%;
  }
  .subscription__content {
    width: 40%;
  }
  .subscription__content h4 {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 992px) {
  .subscription {
    margin: 0 auto;
    max-width: 72rem;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .subscription {
    max-width: 51rem;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .subscription__content {
    width: 90%;
  }
  .subscription__form input {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .subscription {
    max-width: 49rem;
    width: 100%;
    margin: 0 auto;
  }
}

.footer {
  background-image: url("../img/footer/footer_bg.jpg");
  grid-column: container-start / container-end;
  padding: 20rem 0 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr min-content;
      grid-template-rows: 1fr -webkit-min-content;
      grid-template-rows: 1fr min-content;
}

.footer__content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 32rem))[4];
      grid-template-columns: repeat(4, minmax(-webkit-min-content, 32rem));
      grid-template-columns: repeat(4, minmax(min-content, 32rem));
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  color: var(--color-text-footer);
}

.footer__content--item {
  width: 29.5rem;
  padding: 1.5rem;
  margin-bottom: 5rem;
  font-size: 1.4rem;
}

.footer__content--item__logo {
  display: block;
  margin-bottom: 3.5rem;
}

.footer__content--item__logo img {
  width: 19rem;
}

.footer__content--item p {
  margin-bottom: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
}

.footer__content--item__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__content--item__social li {
  margin-right: 0.5rem;
  width: 4rem;
  height: 4rem;
  display: block;
  text-align: center;
  line-height: 4rem;
  background-color: var(--color-footer-icon);
  border-radius: 50%;
}

.footer__content--item__social li a:link i,
.footer__content--item__social li a:visited i {
  color: var(--color-text-footer);
  font-size: 1.4rem;
}

.footer__content--item__social li a:hover i,
.footer__content--item__social li a:active i {
  color: var(--color-accent);
}

.footer__content--item h5 {
  color: var(--color-footer-title);
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.footer__content--item ul.footer-list li {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.1rem dashed var(--color-footer-line);
}

.footer__content--item ul.footer-list li img {
  width: 9rem;
  height: 7rem;
  margin-right: 1.5rem;
  border-radius: 0.3rem;
}

.footer__content--item ul.footer-list li a:link,
.footer__content--item ul.footer-list li a:visited {
  font-size: 1.6rem;
  color: var(--color-text-footer);
}

.footer__content--item ul.footer-list li a:hover,
.footer__content--item ul.footer-list li a:active {
  color: var(--color-accent);
}

.footer__content--item ul.footer-list li div h5 {
  margin-bottom: 0.5rem;
  line-height: 2.4rem;
}

.footer__content--item ul.footer-list li div h5 a:link,
.footer__content--item ul.footer-list li div h5 a:visited {
  color: var(--color-footer-title);
  font-size: 1.4rem;
  font-weight: 600;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer__content--item ul.footer-list li div h5 a:hover,
.footer__content--item ul.footer-list li div h5 a:active {
  color: var(--color-accent);
}

.footer__content--item ul.footer-list li div p {
  font-size: 1.2rem;
  line-height: 2.4rem;
}

.footer__content--item__form input,
.footer__content--item__form textarea {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  border: none;
}

.footer__content--item__form input {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

.footer__content--item__form textarea {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  height: 9.8rem;
}

.footer__content--item__form button.btn {
  font-size: 1.4rem;
  padding: 1.4rem 4rem;
  border-radius: 0.3rem;
}

.footer__copyright {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background-color: var(--color-copyright);
  padding: 3.5rem 0;
  color: var(--color-text);
  font-size: 1.6rem;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .footer__content {
    max-width: 96rem;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__content--item {
    width: 25%;
  }
}

@media screen and (max-width: 992px) {
  .footer__content {
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__content--item {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .footer__content {
    max-width: 51rem;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__content--item {
    width: 100%;
  }
  .footer__copyright {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 576px) {
  .footer__content {
    max-width: 49rem;
    width: 100%;
    margin: 0 auto;
  }
}

.video__content, .product__header, .ingredients__header, .packeges__header, .doctors__header, .blog__header {
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
}

.showcase, .about, .video, .product, .ingredients, .facts, .packeges, .doctors, .blog {
  padding: 11rem 0rem;
}

.features, .facts, .facts__content--fact, .packeges__content, .blog__content, .footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.doctors, .blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(min-content, 130rem) 1fr;
      grid-template-columns: 1fr minmax(-webkit-min-content, 130rem) 1fr;
      grid-template-columns: 1fr minmax(min-content, 130rem) 1fr;
}

.showcase__content p, .product__header, .ingredients__header, .ingredients__header p, .packeges__header p, .blog__header, .blog__content--item__info p {
  color: var(--color-text);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9;
  margin-bottom: 3.5em;
}

.video__content--text p, .doctors__header p {
  color: var(--color-text-lite);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9;
  text-align: center;
}

.features__content--item__para, .about__content--para, .about__content--list p, .product__content p, .ingredients__info--card p {
  font-size: 1.4rem;
  color: var(--color-text);
  line-height: 2.6rem;
  font-weight: 400;
}

h2, h3, h4, h5 {
  color: var(--color-secondary);
}

h2 {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 1.5rem;
  line-height: 5rem;
}

h3,
h4 {
  font-size: 3rem;
  line-height: 1.2em;
  font-weight: 700;
}

.features__content--item__title {
  font-weight: 700;
  line-height: 1.2rem;
}

.about__content--titles h6, .doctors__content--doctor__info h6 {
  margin-bottom: 1rem;
  line-height: 1.2rem;
}

.scroll {
  position: fixed;
  bottom: 70rem;
  right: 5rem;
  height: 5rem;
  width: 5rem;
  background-color: var(--color-accent);
  border-radius: 50%;
  z-index: 300;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  font-weight: 900;
}

.scroll i {
  position: relative;
  top: 1rem;
  left: 1.6rem;
  text-align: center;
  font-size: 2.6rem;
  color: var(--color-main);
}

.scroll.active {
  visibility: visible;
  opacity: 1;
  bottom: 4rem;
}

a.btn:link,
a.btn:visited {
  display: inline-block;
  background-color: var(--color-accent);
  border-radius: 5rem;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1.5rem 5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border: 2px solid var(--color-accent);
  cursor: pointer;
  color: var(--color-main);
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

a.btn:hover,
a.btn:active {
  background-color: transparent;
  color: var(--color-accent);
}

a.btn--inside-out:link,
a.btn--inside-out:visited {
  display: inline-block;
  background-color: transparent;
  border-radius: 5rem;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  width: 100%;
  padding: 1.5rem 5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

a.btn--inside-out:hover,
a.btn--inside-out:active {
  background-color: var(--color-accent);
  color: var(--color-main);
}

button.btn {
  cursor: pointer;
  font-weight: 700;
  background-color: var(--color-accent);
  border: 0.2rem solid var(--color-accent);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: var(--color-main);
}

button.btn:hover {
  background-color: inherit;
  color: var(--color-accent);
}

div.bar {
  height: 2px;
  width: 165px;
  background-color: #c4c4c4;
  margin: 20px auto 30px;
  position: relative;
  border-radius: 50%;
}

div.bar::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--color-accent);
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: -3px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: mypoint;
          animation-name: mypoint;
}

@-webkit-keyframes mypoint {
  0% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(160px);
            transform: translateX(160px);
  }
}

@keyframes mypoint {
  0% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(160px);
            transform: translateX(160px);
  }
}
/*# sourceMappingURL=main-style.css.map */